# Taller Python Standard Library 20%
## Hacer 8 de los 15 ejercicios
Ingrese su nombre, número de cédula y correo en la siguiente celda como comentario.

In [ ]:
# Nombre: Daniel Muñetón Piedrahita
# CC: 1214721642
# Correo: daniel_muneton92111@elpoli.edu.co

# Descripción

Esta tarea tiene como fin ayudarlo a profundizar sus conocimientos en programación con el lenguaje Python usando la PSL (Python Standard Library). En la siguiente celda importaré algunas librerias y leeré algunos archivos por usted.

In [3]:
# Ejecutar esta linea primero para cargar los archivos necesarios
# Si aparece un error se debe verificar que la carpeta files este en la misma carpeta que este archivo
import csv

with open('files/customer',    'r') as f: customer    = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/employee',    'r') as f: employee    = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/family',      'r') as f: family      = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/order2000',   'r') as f: order2000   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/order2001',   'r') as f: order2001   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/order2002',   'r') as f: order2002   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/order2003',   'r') as f: order2003   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/order2004',   'r') as f: order2004   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/order2005',   'r') as f: order2005   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/order2006',   'r') as f: order2006   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/order2007',   'r') as f: order2007   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/order2008',   'r') as f: order2008   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/order2009',   'r') as f: order2009   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/order2010',   'r') as f: order2010   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/order2011',   'r') as f: order2011   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/order2012',   'r') as f: order2012   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/order2013',   'r') as f: order2013   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/order2014',   'r') as f: order2014   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/order2015',   'r') as f: order2015   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/order2016',   'r') as f: order2016   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/orderdetail', 'r') as f: orderdetail = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/product',     'r') as f: product     = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('files/supplier',    'r') as f: supplier    = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))

# Problema 1

Imprima el valor del campo `ssn` (uno por línea) para los registros 2, 6 y 8 del archivo `employee`.

In [ ]:
# Respuesta
# 496-99-2998
# 323-35-2171
# 496-24-5751

for i in (2, 6, 8):
    print(employee[i][5])

2
(04)-1289-1406
6
(06)-2345-5542
8
(04)-1289-4949


# Problema 2

Imprima el total de registros (uno por línea) para los archivos `employee`, `product` y `orderdetail` sin contar los encabezados.

In [29]:
# Respuesta
# 50
# 146
# 25946

print(len(employee)-1)
print(len(product)-1)
print(len(orderdetail)-1)

50
146
25946

# Problema 3

Escriba una función `f` que reciba el nombre de un departamento y cuente cuantos registros hay para dicho departamento en el archivo `employee`.

In [39]:
def numberDepartment(department):
    count = 0
    for registro in employee:
        if(registro[3] == department):
            count += 1
    return count
    

print(numberDepartment("Advertising")) # Respuesta 3
print(numberDepartment("Sales and Marketing")) # Respuesta 21

3
21

# Problema 4


Imprima una tabla con la cantidad de empleados nacidos por año, ordenada por año y un año por línea. Use un espacio en blanco para separar el año y la cantidad de personas; por ejemplo, '1969 2'.

In [52]:
from datetime import datetime

result = {}
for register in employee[1:]:  # Skip header
    year = datetime.strptime(register[8], "%a+%Y-%m-%d+%H:%M:%S").year
    result[year] = result.get(year, 0) + 1

for year in sorted(result):
    print(year, result[year])


# Respuesta
# 1969 2
# 1970 2
# 1971 5
# 1972 1
# 1973 1
# 1974 1
# 1975 2
# 1976 4
# 1977 3
# 1978 1
# 1979 5
# 1980 4
# 1981 2
# 1982 2
# 1983 1
# 1984 2
# 1985 3
# 1986 3
# 1987 1
# 1988 3
# 1990 2

1969 2
1970 2
1971 5
1972 1
1973 1
1974 1
1975 2
1976 4
1977 3
1978 1
1979 5
1980 4
1981 2
1982 2
1983 1
1984 2
1985 3
1986 3
1987 1
1988 3
1990 2

# Problema 5

Imprima una lista con las ciudades del archivo `employee` ordenadas alfabéticamente y sin repetir ciudad. Imprima una ciudad por renglón.

In [55]:
cities = {}
for registro in employee:
    cities.setdefault(registro[6], 0)
    
for city in sorted(cities.keys()):
    print(city)

# Respuesta
# BELLEFONTE
# BLAINE
# BURNS FLAT
# CEDAR HILL
# CHANCELLOR
# CHARLOTTESVILLE
# CHESHIRE
# COPELAND
# FT MITCHELL
# GARRISON
# GRANDVIEW
# MANISTIQUE
# MONTCLAIR
# PAWCATUCK
# RIDGEFIELD
# RUIDOSO
# SANTA BARBARA
# SARASOTA
# TALLASSEE
# TAWAS CITY
# TEHACHAPI
# TERRA
# WINTER HAVEN

BELLEFONTE
BLAINE
BURNS FLAT
CEDAR HILL
CHANCELLOR
CHARLOTTESVILLE
CHESHIRE
COPELAND
FT MITCHELL
GARRISON
GRANDVIEW
MANISTIQUE
MONTCLAIR
PAWCATUCK
RIDGEFIELD
RUIDOSO
SANTA BARBARA
SARASOTA
TALLASSEE
TAWAS CITY
TEHACHAPI
TERRA
WINTER HAVEN
city

# Problema 6

Imprima una lista con las ciudades del archivo `employee` ordenadas alfabéticamente indicando cuántas veces aparece cada ciudad en el archivo. Imprima una ciudad por renglón. Separe la ciudad y la cantidad por un espacio en blanco; por ejemplo: 'BELLEFONTE 3'.

In [57]:
cities = {}
for registro in employee:
    cities[registro[6]] = cities.get(registro[6], 0) + 1
    
for city in sorted(cities):
    print(city, cities[city])

# Respuesta
# BELLEFONTE 3
# BLAINE 1
# BURNS FLAT 2
# CEDAR HILL 2
# CHANCELLOR 2
# CHARLOTTESVILLE 1
# CHESHIRE 1
# COPELAND 5
# FT MITCHELL 1
# GARRISON 2
# GRANDVIEW 2
# MANISTIQUE 2
# MONTCLAIR 3
# PAWCATUCK 4
# RIDGEFIELD 1
# RUIDOSO 1
# SANTA BARBARA 2
# SARASOTA 5
# TALLASSEE 1
# TAWAS CITY 2
# TEHACHAPI 1
# TERRA 3
# WINTER HAVEN 3

BELLEFONTE 3
BLAINE 1
BURNS FLAT 2
CEDAR HILL 2
CHANCELLOR 2
CHARLOTTESVILLE 1
CHESHIRE 1
COPELAND 5
FT MITCHELL 1
GARRISON 2
GRANDVIEW 2
MANISTIQUE 2
MONTCLAIR 3
PAWCATUCK 4
RIDGEFIELD 1
RUIDOSO 1
SANTA BARBARA 2
SARASOTA 5
TALLASSEE 1
TAWAS CITY 2
TEHACHAPI 1
TERRA 3
WINTER HAVEN 3
city 1

# Problema 7

Imprima, por cada ciudad diferente del archivo `employee`, cuántos registros quedan si se eliminan todos los registros que contienen dicha ciudad. Imprima la lista ordenada alfabéticamente. Separe la ciudad y la cantidad usando un espacio en blanco; por ejemplo: `'BELLEFONTE 47'`.

In [58]:
cities = {}
for registro in employee:
    cities[registro[6]] = cities.get(registro[6], 0) + 1
    
for city in sorted(cities):
    print(city, len(cities) - cities[city])
# Respuesta
# BELLEFONTE 47
# BLAINE 49
# BURNS FLAT 48
# CEDAR HILL 48
# CHANCELLOR 48
# CHARLOTTESVILLE 49
# CHESHIRE 49
# COPELAND 45
# FT MITCHELL 49
# GARRISON 48
# GRANDVIEW 48
# MANISTIQUE 48
# MONTCLAIR 47
# PAWCATUCK 46
# RIDGEFIELD 49
# RUIDOSO 49
# SANTA BARBARA 48
# SARASOTA 45
# TALLASSEE 49
# TAWAS CITY 48
# TEHACHAPI 49
# TERRA 47
# WINTER HAVEN 47

BELLEFONTE 21
BLAINE 23
BURNS FLAT 22
CEDAR HILL 22
CHANCELLOR 22
CHARLOTTESVILLE 23
CHESHIRE 23
COPELAND 19
FT MITCHELL 23
GARRISON 22
GRANDVIEW 22
MANISTIQUE 22
MONTCLAIR 21
PAWCATUCK 20
RIDGEFIELD 23
RUIDOSO 23
SANTA BARBARA 22
SARASOTA 19
TALLASSEE 23
TAWAS CITY 22
TEHACHAPI 23
TERRA 21
WINTER HAVEN 21
city 23

# Problema 8

Escriba una función que reciba el nombre completo de un hijo (campo `fullname` del archivo `family`), y devuelva el primer nombre (`fullname`) del padre en el archivo `employee`.

In [ ]:
def findParent(childFullName):
    for register in family:
        if(register[2] == childFullName):
            for registerEmployee in employee:
                if register[1] == registerEmployee[1]:
                    return(registerEmployee[2])


print(findParent('Cecelia Hartnett'))  # Respuesta -> Cary Hartnett 
print(findParent('Verlie Bailey'))  # Respuesta -> Jermaine Bailey

Cary Hartnett
Jermaine Bailey

# Problema 9

Escriba una función que reciba el número de orden (`order.id`) y devuelva el nombre completo (`fullname`) del empleado que la atendio. La busqueda se debe realizar en todos los archivos de ordenes de los diferentes años.

In [32]:
allOrders = (
    order2000 + order2001 + order2002 + order2003 +
    order2004 + order2005 + order2006 + order2007 +
    order2008 + order2009 + order2010 + order2011 +
    order2012 + order2013 + order2014 + order2015 +
    order2016
)

def searchEmployeeByOrderId(orderId):
    for order in allOrders:
        if(orderId == order[1]):
            for registerEmployee in employee:
                if(order[3] == registerEmployee[1]):
                    return(registerEmployee[2])
                

        
    
print(searchEmployeeByOrderId((309))) # Respuesta -> Christy Petry
print(searchEmployeeByOrderId((653))) # Respuesta -> Damaris Parry
print(searchEmployeeByOrderId((996))) # Respuesta -> Bailey Beasley
print(searchEmployeeByOrderId((1))) # Respuesta -> Man Sapp
print(searchEmployeeByOrderId((24))) # Respuesta -> Jodi Wetzel
print(searchEmployeeByOrderId((500))) # Respuesta -> Carolynn Devine

Christy Petry
Damaris Parry
Bailey Beasley
Man Sapp
Jodi Wetzel
Carolynn Devine

# Problema 10

Escriba una función que reciba el número de orden (`order.id`) y devuelva el nombre completo (`fullname`) del cliente que la solicitó. La busqueda se debe realizar en todos los archivos de ordenes de los diferentes años.

In [42]:
allOrders = (
    order2000 + order2001 + order2002 + order2003 +
    order2004 + order2005 + order2006 + order2007 +
    order2008 + order2009 + order2010 + order2011 +
    order2012 + order2013 + order2014 + order2015 +
    order2016
)


def searchCostumerByOrderId(orderId):
        for order in allOrders:
            if(orderId == order[1]):
                for registerCostumer in customer:
                    if(order[2] == registerCostumer[0]):
                        return(registerCostumer[3])
    
print(searchCostumerByOrderId(309)) # Respuesta -> Carmen Zimmerman
print(searchCostumerByOrderId(653)) # Respuesta -> Theodore Pernell
print(searchCostumerByOrderId(996)) # Respuesta -> Marilynn Laws
print(searchCostumerByOrderId(1)) # Respuesta -> Bobbie Goodman
print(searchCostumerByOrderId(24)) # Respuesta -> Latoya Albrecht
print(searchCostumerByOrderId(500)) # Respuesta -> Bill Ford

Carmen Zimmerman
Theodore Pernell
Marilynn Laws
Bobbie Goodman
Latoya Albrecht
Bill Ford

# Problema 11

Escriba una función que reciba el nombre de un empleado (`fullname`) y retorne la cantidad de órdenes atendidas por él. La busqueda se debe realizar en todos los archivos de ordenes de los diferentes años.

In [ ]:
def f(full_name):
    
print(f('Christy Petry')) # Respuesta -> 238
print(f('Gisela Strong')) # Respuesta -> 225
print(f('Ellis Ervin')) # Respuesta -> 270
print(f("Man Sapp")) # Respuesta -> 244
print(f("Jodi Wetzel")) # Respuesta -> 208
print(f("Carolynn Devine")) # Respuesta -> 289

# Problema 12

Escriba una función que reciba el nombre de un empleado y retorne el valor mínino del campo `order.id` del total de ordenes que atendió. La busqueda se debe realizar en todos los archivos de ordenes de los diferentes años.

In [ ]:
def f(full_name):
    
print(f('Christy Petry')) # Respuesta -> 14
print(f('Gisela Strong')) # Respuesta -> 27
print(f('Ellis Ervin')) # Respuesta -> 20
print(f("Man Sapp")) # Respuesta -> 1
print(f("Jodi Wetzel")) # Respuesta -> 24
print(f("Carolynn Devine")) # Respuesta -> 15

# Problema 13

Escriba una función que reciba el `order.id` de una orden y retorne el cálculo del valor total de la orden. Buscar en el archivo `orderdetail` y realizar la operación entre `quantity` y `price`.

In [ ]:
def f(orderid):
    
print(f(8)) # Respuesta -> 5450
print(f(24)) # Respuesta -> 3750
print(f(500)) # Respuesta -> 7943
print(f(1)) # Respuesta -> 2572
print(f(2)) # Respuesta -> 2979
print(f(3)) # Respuesta -> 9317

# Problema 14

Imprima la cantidad de empleados que nacieron en cada uno de los trimestres (`Q1`, `Q2`, `Q3`, `Q4`) del año. Imprima un trimestre por reglón, separando las cantidades por un espacio en blanco. Por ejemplo: `'Q1 18'`.

In [ ]:
# Respuesta
# Q1 16
# Q2 9
# Q3 14
# Q4 11

# Problema 15

Escriba una función que reciba un grupo de cuatro dígitos e imprima la cantidad de veces que aparece dicho número en el segundo grupo de dígitos de todos los números telefónicos. Buscar en los diferentes archivos que tengan números de teléfono.

In [ ]:
def f(number):
    
print(f("1234")) # Respuesta -> 31
print(f("8976")) # Respuesta -> 32
print(f("1289")) # Respuesta -> 23
print(f("2345")) # Respuesta -> 28
print(f("4876")) # Respuesta -> 26

---