# Taller Pandas 20%
## Hacer 8 de los 15 ejercicios
Ingrese su nombre, número de cédula y correo en la siguiente celda como comentario.

In [ ]:
# Nombre: Daniel Muñetón Piedrahita
# CC: 1214721642
# Correo: daniel_muneton92111@elpoli.edu.co

# Descripción

Esta tarea tiene como fin ayudarlo a profundizar sus conocimientos en programación con el lenguaje Python usando la PSL (Python Standard Library). En la siguiente celda importaré algunas librerias y leeré algunos archivos por usted.

In [6]:
# Ejecutar esta linea primero para cargar los archivos necesarios
# Si aparece un error se debe verificar que la carpeta files este en la misma carpeta que este archivo
import pandas as pd
customer    = pd.read_table('files/customer',    sep = ',', decimal = '.')
employee    = pd.read_table('files/employee',    sep = ',', decimal = '.')
family      = pd.read_table('files/family',      sep = ',', decimal = '.')
order2000   = pd.read_table('files/order2000',   sep = ',', decimal = '.')
order2001   = pd.read_table('files/order2001',   sep = ',', decimal = '.')
order2002   = pd.read_table('files/order2002',   sep = ',', decimal = '.')
order2003   = pd.read_table('files/order2003',   sep = ',', decimal = '.')
order2004   = pd.read_table('files/order2004',   sep = ',', decimal = '.')
order2005   = pd.read_table('files/order2005',   sep = ',', decimal = '.')
order2006   = pd.read_table('files/order2006',   sep = ',', decimal = '.')
order2007   = pd.read_table('files/order2007',   sep = ',', decimal = '.')
order2008   = pd.read_table('files/order2008',   sep = ',', decimal = '.')
order2009   = pd.read_table('files/order2009',   sep = ',', decimal = '.')
order2010   = pd.read_table('files/order2010',   sep = ',', decimal = '.')
order2011   = pd.read_table('files/order2011',   sep = ',', decimal = '.')
order2012   = pd.read_table('files/order2012',   sep = ',', decimal = '.')
order2013   = pd.read_table('files/order2013',   sep = ',', decimal = '.')
order2014   = pd.read_table('files/order2014',   sep = ',', decimal = '.')
order2015   = pd.read_table('files/order2015',   sep = ',', decimal = '.')
order2016   = pd.read_table('files/order2016',   sep = ',', decimal = '.')
orderdetail = pd.read_table('files/orderdetail', sep = ',', decimal = '.')
product     = pd.read_table('files/product',     sep = ',', decimal = '.')
supplier    = pd.read_table('files/supplier',    sep = ',', decimal = '.')

# Problema 1

Imprima el valor del campo `ssn` (uno por línea) para los registros 2, 6 y 8 del archivo `employee`.

In [8]:
# Respuesta
# 496-99-2998
# 323-35-2171
# 496-24-5751

filas = employee.iloc[[2, 6, 8]]

for valor in filas["ssn"]:
    print(valor)

242-36-1147
323-99-2171
323-99-5441


# Problema 2

Imprima el total de registros (uno por línea) para los archivos `employee`, `product` y `orderdetail` sin contar los encabezados.

In [9]:
# Respuesta
# 50
# 146
# 25946

print(employee.shape[0])
print(product.shape[0])
print(orderdetail.shape[0])

50
146
25946

# Problema 3

Escriba una función `f` que reciba el nombre de un departamento y cuente cuantos registros hay para dicho departamento en el archivo `employee`.

In [10]:
def f(department):
    return employee[employee["department"] == department].shape[0]
    
    
print(f("Advertising")) # Respuesta 3
print(f("Sales and Marketing")) # Respuesta 21

3
21

# Problema 4


Imprima una tabla con la cantidad de empleados nacidos por año, ordenada por año y un año por línea. Use un espacio en blanco para separar el año y la cantidad de personas; por ejemplo, '1969 2'.

In [ ]:
# Respuesta
# 1969 2
# 1970 2
# 1971 5
# 1972 1
# 1973 1
# 1974 1
# 1975 2
# 1976 4
# 1977 3
# 1978 1
# 1979 5
# 1980 4
# 1981 2
# 1982 2
# 1983 1
# 1984 2
# 1985 3
# 1986 3
# 1987 1
# 1988 3
# 1990 2

C:\Users\dmpie\AppData\Local\Temp\ipykernel_20628\2281063837.py:24: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  employee["birthdate"] = pd.to_datetime(employee["birthdate"])

DateParseError: Unknown datetime string format, unable to parse: Fri+1970-02-20+00:00:00, at position 0

# Problema 5

Imprima una lista con las ciudades del archivo `employee` ordenadas alfabéticamente y sin repetir ciudad. Imprima una ciudad por renglón.

In [13]:
# Respuesta
# BELLEFONTE
# BLAINE
# BURNS FLAT
# CEDAR HILL
# CHANCELLOR
# CHARLOTTESVILLE
# CHESHIRE
# COPELAND
# FT MITCHELL
# GARRISON
# GRANDVIEW
# MANISTIQUE
# MONTCLAIR
# PAWCATUCK
# RIDGEFIELD
# RUIDOSO
# SANTA BARBARA
# SARASOTA
# TALLASSEE
# TAWAS CITY
# TEHACHAPI
# TERRA
# WINTER HAVEN

cities = sorted(employee["city"].unique())
for city in cities:
    print(city)

BELLEFONTE
BLAINE
BURNS FLAT
CEDAR HILL
CHANCELLOR
CHARLOTTESVILLE
CHESHIRE
COPELAND
FT MITCHELL
GARRISON
GRANDVIEW
MANISTIQUE
MONTCLAIR
PAWCATUCK
RIDGEFIELD
RUIDOSO
SANTA BARBARA
SARASOTA
TALLASSEE
TAWAS CITY
TEHACHAPI
TERRA
WINTER HAVEN

# Problema 6

Imprima una lista con las ciudades del archivo `employee` ordenadas alfabéticamente indicando cuántas veces aparece cada ciudad en el archivo. Imprima una ciudad por renglón. Separe la ciudad y la cantidad por un espacio en blanco; por ejemplo: 'BELLEFONTE 3'.

In [14]:
# Respuesta
# BELLEFONTE 3
# BLAINE 1
# BURNS FLAT 2
# CEDAR HILL 2
# CHANCELLOR 2
# CHARLOTTESVILLE 1
# CHESHIRE 1
# COPELAND 5
# FT MITCHELL 1
# GARRISON 2
# GRANDVIEW 2
# MANISTIQUE 2
# MONTCLAIR 3
# PAWCATUCK 4
# RIDGEFIELD 1
# RUIDOSO 1
# SANTA BARBARA 2
# SARASOTA 5
# TALLASSEE 1
# TAWAS CITY 2
# TEHACHAPI 1
# TERRA 3
# WINTER HAVEN 3

city_counts = employee["city"].value_counts().sort_index()
for city, count in city_counts.items():
    print(f"{city} {count}")

BELLEFONTE 3
BLAINE 1
BURNS FLAT 2
CEDAR HILL 2
CHANCELLOR 2
CHARLOTTESVILLE 1
CHESHIRE 1
COPELAND 5
FT MITCHELL 1
GARRISON 2
GRANDVIEW 2
MANISTIQUE 2
MONTCLAIR 3
PAWCATUCK 4
RIDGEFIELD 1
RUIDOSO 1
SANTA BARBARA 2
SARASOTA 5
TALLASSEE 1
TAWAS CITY 2
TEHACHAPI 1
TERRA 3
WINTER HAVEN 3

# Problema 7

Imprima, por cada ciudad diferente del archivo `employee`, cuántos registros quedan si se eliminan todos los registros que contienen dicha ciudad. Imprima la lista ordenada alfabéticamente. Separe la ciudad y la cantidad usando un espacio en blanco; por ejemplo: `'BELLEFONTE 47'`.

In [17]:
# Respuesta
# BELLEFONTE 47
# BLAINE 49
# BURNS FLAT 48
# CEDAR HILL 48
# CHANCELLOR 48
# CHARLOTTESVILLE 49
# CHESHIRE 49
# COPELAND 45
# FT MITCHELL 49
# GARRISON 48
# GRANDVIEW 48
# MANISTIQUE 48
# MONTCLAIR 47
# PAWCATUCK 46
# RIDGEFIELD 49
# RUIDOSO 49
# SANTA BARBARA 48
# SARASOTA 45
# TALLASSEE 49
# TAWAS CITY 48
# TEHACHAPI 49
# TERRA 47
# WINTER HAVEN 47

cityCounts = employee["city"].value_counts().sort_index()
total = len(employee)
for city, count in cityCounts.items():
    remaining = total - count
    print(f"{city} {remaining}")

BELLEFONTE 47
BLAINE 49
BURNS FLAT 48
CEDAR HILL 48
CHANCELLOR 48
CHARLOTTESVILLE 49
CHESHIRE 49
COPELAND 45
FT MITCHELL 49
GARRISON 48
GRANDVIEW 48
MANISTIQUE 48
MONTCLAIR 47
PAWCATUCK 46
RIDGEFIELD 49
RUIDOSO 49
SANTA BARBARA 48
SARASOTA 45
TALLASSEE 49
TAWAS CITY 48
TEHACHAPI 49
TERRA 47
WINTER HAVEN 47

# Problema 8

Escriba una función que reciba el nombre completo de un hijo (campo `fullname` del archivo `family`), y devuelva el primer nombre (`fullname`) del padre en el archivo `employee`.

In [23]:
def f(child_full_name):
    son = family[family["fullname"] == child_full_name]
    
    parentId = son.iloc[0]["parent.id"]
    parent = employee[employee["employee.id"] == parentId]

    return parent.iloc[0]["fullname"]
    
print(f("Cecelia Hartnett")) # Respuesta -> Cary Hartnett
print(f("Verlie Bailey")) # Respuesta -> Jermaine Bailey

Cary Hartnett
Jermaine Bailey

# Problema 9

Escriba una función que reciba el número de orden (`order.id`) y devuelva el nombre completo (`fullname`) del empleado que la atendio. La busqueda se debe realizar en todos los archivos de ordenes de los diferentes años.

In [27]:
allOrders = pd.concat(
    [order2000, order2001, order2002, order2003,
     order2004, order2005, order2006, order2007,
     order2008, order2009, order2010, order2011,
     order2012, order2013, order2014, order2015, order2016],
    ignore_index=True
)

def searchEmployeeByOrderId(orderId):

    order = allOrders[allOrders["order.id"] == orderId]

    employeeId = order.iloc[0]["employee.id"]

    empl = employee[employee["employee.id"] == employeeId]

    return empl.iloc[0]["fullname"]
    
print(searchEmployeeByOrderId((309))) # Respuesta -> Christy Petry
print(searchEmployeeByOrderId((653))) # Respuesta -> Damaris Parry
print(searchEmployeeByOrderId((996))) # Respuesta -> Bailey Beasley
print(searchEmployeeByOrderId((1))) # Respuesta -> Man Sapp
print(searchEmployeeByOrderId((24))) # Respuesta -> Jodi Wetzel
print(searchEmployeeByOrderId((500))) # Respuesta -> Carolynn Devine

Christy Petry
Damaris Parry
Bailey Beasley
Man Sapp
Jodi Wetzel
Carolynn Devine

# Problema 10

Escriba una función que reciba el número de orden (`order.id`) y devuelva el nombre completo (`fullname`) del cliente que la solicitó. La busqueda se debe realizar en todos los archivos de ordenes de los diferentes años.

In [30]:
allOrders = pd.concat(
    [order2000, order2001, order2002, order2003,
     order2004, order2005, order2006, order2007,
     order2008, order2009, order2010, order2011,
     order2012, order2013, order2014, order2015, order2016],
    ignore_index=True
)


def searchCustomerByOrderId(orderId):

    order = allOrders[allOrders["order.id"] == orderId]
    
    customerId = order.iloc[0]["customer.id"]
    cust = customer[customer["customer.id"] == customerId]

    return cust.iloc[0]["fullname"]

print(searchCustomerByOrderId(309))  # Carmen Zimmerman
print(searchCustomerByOrderId(653))  # Theodore Pernell
print(searchCustomerByOrderId(996))  # Marilynn Laws
print(searchCustomerByOrderId(1))    # Bobbie Goodman
print(searchCustomerByOrderId(24))   # Latoya Albrecht
print(searchCustomerByOrderId(500))  # Bill Ford

Carmen Zimmerman
Theodore Pernell
Marilynn Laws
Bobbie Goodman
Latoya Albrecht
Bill Ford

# Problema 11

Escriba una función que reciba el nombre de un empleado (`fullname`) y retorne la cantidad de órdenes atendidas por él. La busqueda se debe realizar en todos los archivos de ordenes de los diferentes años.

In [ ]:
def f(full_name):
    
print(f('Christy Petry')) # Respuesta -> 238
print(f('Gisela Strong')) # Respuesta -> 225
print(f('Ellis Ervin')) # Respuesta -> 270
print(f("Man Sapp")) # Respuesta -> 244
print(f("Jodi Wetzel")) # Respuesta -> 208
print(f("Carolynn Devine")) # Respuesta -> 289

# Problema 12

Escriba una función que reciba el nombre de un empleado y retorne el valor mínino del campo `order.id` del total de ordenes que atendió. La busqueda se debe realizar en todos los archivos de ordenes de los diferentes años.

In [ ]:
def f(full_name):
    
print(f('Christy Petry')) # Respuesta -> 14
print(f('Gisela Strong')) # Respuesta -> 27
print(f('Ellis Ervin')) # Respuesta -> 20
print(f("Man Sapp")) # Respuesta -> 1
print(f("Jodi Wetzel")) # Respuesta -> 24
print(f("Carolynn Devine")) # Respuesta -> 15

# Problema 13

Escriba una función que reciba el `order.id` de una orden y retorne el cálculo del valor total de la orden. Buscar en el archivo `orderdetail` y realizar la operación entre `quantity` y `price`.

In [ ]:
def f(orderid):
    
print(f(8)) # Respuesta -> 5450
print(f(24)) # Respuesta -> 3750
print(f(500)) # Respuesta -> 7943
print(f(1)) # Respuesta -> 2572
print(f(2)) # Respuesta -> 2979
print(f(3)) # Respuesta -> 9317

# Problema 14

Imprima la cantidad de empleados que nacieron en cada uno de los trimestres (`Q1`, `Q2`, `Q3`, `Q4`) del año. Imprima un trimestre por reglón, separando las cantidades por un espacio en blanco. Por ejemplo: `'Q1 18'`.

In [ ]:
# Respuesta
# Q1 16
# Q2 9
# Q3 14
# Q4 11

# Problema 15

Escriba una función que reciba un grupo de cuatro dígitos e imprima la cantidad de veces que aparece dicho número en el segundo grupo de dígitos de todos los números telefónicos. Buscar en los diferentes archivos que tengan números de teléfono.

In [ ]:
def f(number):
    
print(f("1234")) # Respuesta -> 31
print(f("8976")) # Respuesta -> 32
print(f("1289")) # Respuesta -> 23
print(f("2345")) # Respuesta -> 28
print(f("4876")) # Respuesta -> 26

---